@model EuConto.Models.UserModels.RegisterModel

<div class="container col-8 col-sm-8 col-md-6 col-xl-5" style="margin-top: 100px;">
    <div class="card">
        <h5 class="card-header black white-text text-center py-4">
            <strong>Cadastrar nova conta</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0 my-5">
            <form asp-route="Register" method="post" class="text-center">
                <div class="form-row justify-content-md-center justify-content-center">
                    <div class="md-form col-md-6 col-8">
                        <input asp-for="Username" type="text" class="form-control align-self-center">
                        <label asp-for="Username"></label>
                        <span asp-validation-for="Username" class="validator-page"></span>
                    </div>

                    <div class="md-form col-md-6 col-8">
                        <input asp-for="Email" type="text" class="form-control">
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="validator-page"></span>
                    </div>
                </div>

                <div class="form-row justify-content-md-center justify-content-center">
                    <div class="md-form col-md-6 col-8">
                        <input asp-for="FullName" type="text" class="form-control align-self-center">
                        <label asp-for="FullName"></label>
                        <span asp-validation-for="FullName" class="validator-page"></span>
                    </div>

                    <div class="md-form col-md-6 col-8">
                        <input asp-for="Bio" type="text" class="form-control">
                        <label asp-for="Bio"></label>
                        <span asp-validation-for="Bio" class="validator-page"></span>
                    </div>
                </div>

                <div class="form-row justify-content-md-center justify-content-center">
                    <div class="md-form col-md-6 col-8">
                        <input asp-for="Password" type="password" class="form-control">
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="validator-page"></span>
                    </div>

                    <div class="md-form col-md-6 col-8">
                        <input asp-for="ConfirmPassword" type="password" class="form-control">
                        <label asp-for="ConfirmPassword"></label>
                        <span asp-validation-for="ConfirmPassword" class="validator-page"></span>
                    </div>
                </div>
                <small class="form-text text-muted mb-4">
                    Usar ao menos 1 número, 1 caracter especial, 1 letra maiúscula
                </small>

                <div class="row justify-content-md-center justify-content-center">
                    <div class="md-form col-md-6 col-8">
                        <button class="btn btn-outline-black btn-block my-3 waves-effect" type="submit">Cadastrar</button>
                    </div>
                </div>

                <div class="row justify-content-md-center justify-content-center">
                    <div class="md-form col-md-6 col-8">
                        <div asp-validation-summary="ModelOnly" class="validator-page"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>