<div class="container col-8 col-sm-8 col-md-6 col-xl-5 text-center" style="margin-top: 100px;">
    <div class="jumbotron">
        <h2 class="display-4">Conta Criada</h2>
        <p class="lead">Agora sim, você vai poder criar estórias e interagir com as que já foram contadas na nossa plataforma.</p>
        <hr class="my-4">
        <p>Não perca mais tempo e logue agora :).</p>
        <a class="btn btn-outline-black btn-rounded waves-effect" href="@Url.RouteUrl("Login")" role="button">Logar</a>
    </div>
</div>